* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

footer {
  margin-top: 2rem;
}
